body{   
            background-image: url('total-gaz-12-5kg-79-0.jpg');
            background-repeat: repeat-x;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            background-size: 800px;
}