body{
    background-color: blue;
    .imageflottante
    {
    background-image: url("photo0jpg.jpg");
    background-repeat: repeat;
    }
    {
        float: left;
    }
    .dessous
    {
        clear: both;
    }
}
